<link rel="stylesheet" type="text/css" href="{{ asset('css/listbox.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ asset('css/button.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ asset('css/loading.css') }}" />

<script src="{{ asset('js/listbox.js') }}"></script>
<script src="{{ asset('js/listbox-rearrangeable.js') }}"></script>
<script src="{{ asset('js/toolbar.js') }}"></script>

<form  onsubmit="gatherSelectedOptions()" id="create_team_form" action="{{ admin_post_url }}" method="post" >
<input type="hidden" name="action" value="create_team">

    <h2>Create PhaKIR Team</h2>
    <div>
        <label for="teamname">Team name:</label>
        <input class="teamname-input" aria-required="true" autocomplete="teamname" name="teamname" aria-label="teamname" type="text">
    </div>

<div class="listbox-area">
    <div class="left-area">
    <span id="ms_av_l" class="listbox-label">
      PhaKIR members:
    </span>
        <ul id="ms_imp_list"
            tabindex="0"
            role="listbox"
            aria-labelledby="ms_av_l"
            aria-multiselectable="true">
            {% for user in all_users %}
                {% if not is_current_user(user) %}
            <li id={{ get_user_id(user) }}
                role="option"
                aria-selected="false">
                <span class="checkmark" aria-hidden="true"></span>
                {{ get_user_name(user) }}
            </li>

                {% endif %}
            {% endfor %}
        </ul>
        <button type="button"
                id="ex2-add"
                class="move-right-btn"
                aria-keyshortcuts="Alt+ArrowRight Enter"
                aria-disabled="true">
            <span class="checkmark" aria-hidden="true"></span>
            Add
        </button>
    </div>
    <div class="right-area">
    <span id="ms_ch_l" class="listbox-label">
      Your team members:
    </span>
        <ul id="ms_unimp_list"
            tabindex="0"
            role="listbox"
            aria-labelledby="ms_ch_l"
            aria-activedescendant=""
            aria-multiselectable="true">
            {% for user in all_users %}
            {% if is_current_user(user) %}
            <li id={{ get_user_id(user) }}
                role="option"
                aria-selected="false">
                <span class="checkmark" aria-hidden="true"></span>
                {{ get_user_name(user) }}
            </li>
            {% endif %}
            {% endfor %}
        </ul>
        <button type="button"
                id="ex2-delete"
                class="move-left-btn"
                aria-keyshortcuts="Alt+ArrowLeft Delete"
                aria-disabled="true">
            <span class="checkmark" aria-hidden="true"></span>
            Remove
        </button>
    </div>
    <div class="offscreen">
        Last change:
        <span aria-live="polite" id="ms_live_region"></span>
    </div>
</div>
<ul style="margin-left: 20px;">
  <li>To create a team, the leader must be included in the list on the right.</li>
  <li>Choose team members by clicking on them and then add them to the list using the 'Add' button.</li>
  <li>Remove members using the 'Remove' button.</li>
  <li>Click on 'Create Team' to finalize the team creation.</li>
  <li>Delete the team by clicking on 'Delete'.</li>
</ul>
    <input type="hidden" id="selectedOptions" name="selectedOptions">
    <div id="container">
    <button  class="button button-primary" type="submit" id="createTeamButton" onclick="showLoading()">Create Team</button>
    <div id="loading" style="display: none;">
        <div class="spinner"></div>
    </div>
    </div>

<script>
    function showLoading() {
        document.getElementById('loading').style.display = 'block';
        document.getElementById('createTeamButton').style.display = 'none';
        document.getElementById('returnButton').style.display = 'none';

    }
    function gatherSelectedOptions() {
        //var form = document.getElementById('create_team_form');
        var listbox = document.getElementById('ms_unimp_list');
        var selectedOptionsInput = document.getElementById('selectedOptions');
        var selectedOptions = Array.from(listbox.children).map(option => option.id);
        selectedOptionsInput.value = JSON.stringify(selectedOptions);
    }
</script>
</form>
<form  id="change_to_view_team_form" action="{{ admin_post_url }}" method="post" >
    <input type="hidden" name="action" value="change_to_view_team">
    <button class="button button-primary" type="submit" id="returnButton" onclick="showLoading()">Return to team overview</button>
</form>