<link rel="stylesheet" type="text/css" href="{{ asset('css/tablestyle.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ asset('css/teamview.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ asset('css/loading.css') }}" />

<div class="container">
    <div class="floatLeft">

<div role="table"
     aria-label="Teams"
     aria-describedby="teams_table_desc">
    <div id="teams_table_desc">
        All PhaKIR Teams with their responsible team leader.
    </div>
    <div role="rowgroup">
        <div role="row">
      <span role="columnheader">
        Team name
      </span>
            <span role="columnheader">
        Team leader
      </span>
        </div>
    </div>
    <div role="rowgroup">
        {% for team in all_teams%}
            <div role="row" onclick="showLoading();document.getElementById('form-{{ get_team_id(team)}}').submit();">
                <span role="cell">{{ get_team_name(team) }}</span>
                <span role="cell">{{ get_team_leader(team) }}</span>
            </div>
        {% endfor %}
        </div>
    </div>

    </div>
    <div class="floatRight">

<div role="table"
     aria-label="myTeams"
     aria-describedby="teams_table_desc">
    <div id="my_teams_table_desc">
        All PhaKIR Teams you are part of.
    </div><div role="rowgroup">
        <div role="row">
      <span role="columnheader">
        Team name
      </span>
            <span role="columnheader">
        Team leader
      </span>
        </div>
    </div>
    <div role="rowgroup">
        {% for team in my_teams %}
            <div role="row" onclick="showLoading();document.getElementById('form-{{ get_team_id(team)}}').submit();">
                <span role="cell">{{ get_team_name(team) }}</span>
                <span role="cell">{{ get_team_leader(team) }}</span>
            </div>
        {% endfor %}
    </div>
</div>
    </div>
</div>
{# User controls below the information: #}

<div id="container" style="display: flex; justify-content: center; align-items: center;">
<div id="loading" style="display: none;">
    <div class="spinner"></div>
</div>
</div>
<script>
    function showLoading() {
        document.getElementById('loading').style.display = 'block';
        document.getElementById('createTeamButton').style.display = 'none';

    }
</script>

<form  id="change_to_create_team_form" action="{{ admin_post_url }}" method="post" >
    <input type="hidden" name="action" value="change_to_create_team">
    <button class="button button-primary" type="submit" id="createTeamButton" onclick="showLoading();">Create new Team</button>
</form>

{# Here the forms for the POSTs were created: #}

{% for team in all_teams %}
<form id="form-{{ get_team_id(team) }}" action="{{ admin_post_url }}" method="post">
    <input type="hidden" name="team_id" value="{{ get_team_id(team)}}">
    <input type="hidden" name="action" value="change_to_edit_team">
</form>
{% endfor %}
{% for team in my_teams %}
    <form id="form-{{ get_team_id(team) }}" action="{{ admin_post_url }}" method="post">
        <input type="hidden" name="team_id" value="{{ get_team_id(team)}}">
        <input type="hidden" name="action" value="change_to_edit_team">
    </form>
{% endfor %}

